sudo: required

before_install:
- sudo apt-get install zip
- sudo apt install ccache
- git clone --recursive https://github.com/iamsj7/Xeon_Kernel -b xeon-test ~/xeon
- git clone --recursive https://github.com/varunhardgamer/SaberMod_GCC_4.8.2_arm-eabi ~/xeon/tc
script:
- cd ~/xeon
- chmod a+x ~/xeon/tc
- chmod a+x ~/xeon/tc/bin
- sudo chmod -R 755 ~/xeon
- export ARCH=arm
- export CROSS_COMPILE=~/xeon/tc/bin/arm-eabi-
- export KBUILD_BUILD_USER="iamsj7"
- export KBUILD_BUILD_HOST="SJHub-XeonNetworks"
- make lineageos_jalebi_defconfig
- make -j128
- cp ~/xeon/arch/arm/boot/zImage ~/xeon/lf
- cd ~/xeon/lf
- zip -r XeonKernel_jalebi-CIBuild.zip *
- curl --upload-file ./XeonKernel_jalebi-CIBuild.zip https://transfer.sh/XeonKernel_jalebi-CIBuild.zip-CIBuild.zip
- cd ~/xeon/arch/arm/boot
- curl --upload-file ./zImage https://transfer.sh/zImage
- cd ~/xeon/lf
- echo All Done
